
<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile>
  <h3> Welcome To TeaTalks</h3>
  </mat-grid-tile>
  </mat-grid-list>
  
  <mat-tab-group>
    <mat-tab label="Sign In">
    <form class="example-form" id="SignIn">
    
    <mat-grid-list cols="1" rowHeight="5:1">
   <mat-grid-tile></mat-grid-tile>
     <mat-grid-tile>
     <mat-form-field class="example-full-width" style="width:250px">
  
      <input matInput placeholder="User Name" >
    
    </mat-form-field>
     </mat-grid-tile>
     
     
     <mat-grid-tile>
     <mat-form-field class="example-full-width" style="width:250px">
  
     
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    
    
    </mat-form-field>
     </mat-grid-tile>
     <mat-grid-tile>
  <button mat-raised-button style="background-color:RGB(44,190,90);color:white;width:250px">Sign In</button>
  </mat-grid-tile>
  </mat-grid-list>
  </form>
    </mat-tab>
    
    <!--Sign up-->
    <mat-tab label="Sign Up">
    <form class="example-form" id="SignUp" >
    
    <mat-grid-list cols="1" rowHeight="5:1">
   
     <mat-grid-tile>
     <mat-form-field class="example-full-width" style="width:250px">
  
      <input matInput placeholder="User Name" maxLength="10" id="SignUpName" [formControl]="email"  required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageUsername()}}</mat-error>
    </mat-form-field>
     </mat-grid-tile>
     <mat-grid-tile>
     <mat-form-field class="example-full-width" style="width:250px">
  
       <input matInput placeholder="Create your password" [formControl]="password1"  pattern="(?=.*?[#?!@$%^&*-]).{6,10}" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password1.invalid">{{getErrorMessagePassword()}}</mat-error>
    
    
    </mat-form-field>
     </mat-grid-tile>
     <mat-grid-tile>
     <mat-form-field class="example-full-width" style="width:250px">
  
      <input matInput placeholder="First Name" maxLength="25" [formControl]="fname" pattern="[a-zA-Z][a-zA-Z ]+" required>
    <mat-error *ngIf="fname.invalid">{{getErrorMessageFname()}}</mat-error>
    </mat-form-field>
     </mat-grid-tile>
     <mat-grid-tile>
     <mat-form-field class="example-full-width" style="width:250px">
  
      <input matInput placeholder="Last Name" maxLength="25" [formControl]="lname" pattern="[a-zA-Z][a-zA-Z ]+" required>
    <mat-error *ngIf="lname.invalid">{{getErrorMessageLname()}}</mat-error>
    </mat-form-field>
     </mat-grid-tile>
    <mat-grid-tile>
  <button mat-raised-button color="primary" style="color:white;width:250px">Sign Up</button>
  </mat-grid-tile>
  </mat-grid-list>
  </form>
    </mat-tab>
  </mat-tab-group>
  
   