<div>
   <div class="row row-no-padding order-dialog">
       <div class="col-no-padding col-12 modal-header">
        <img src="../../assets/White_check.png" class="check-img">
       </div>

       <div class="col-no-padding col-12 modal-body">
           <p>Great!</p>
            Your order has been placed.
       </div>

       <div class="col-no-padding col-12 footer-modal">
           <button mat-raised-button style="background-color:RGB(44,190,90);color:white;width:100px;margin-top:30px;" (click)="iconClick()">Ok</button>
       </div>
       </div> 
  
</div>