<div *ngIf="tea">
  <div class="row row-no-padding order-tea-container">
    <div class="col-12 col-no-padding">
      <h2><span class="tea-brand">{{ tea.teaBrand }}'s </span>{{ tea.name }}</h2>

      <div class="col-12 col-no-padding detail-line">
        <div><span class="label">Ingredients:</span> {{ ingredients }}</div>
      </div>

      <div class="col-12 col-no-padding detail-line">
        <p class="label">Do you want milk/water?</p>
        <mat-checkbox class="milk-water" [checked]="milkChecked">milk</mat-checkbox>
        <mat-checkbox class="milk-water" [checked]="waterChecked">water</mat-checkbox>
      </div>

      <div class="col-12 col-no-padding detail-line">
        <p class="label">Do you want sugar?</p>
        <mat-radio-group>
          <mat-radio-button value="1" [checked]="sugarChecked === true">Yes</mat-radio-button>
          <mat-radio-button value="2" [checked]="sugarChecked === false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 col-no-padding detail-line">
        <p class="label">Choose cup size</p>
        <mat-radio-group>
          <mat-radio-button value="1" [checked]="teaCupSize === 'small'">small</mat-radio-button>
          <mat-radio-button value="2" [checked]="teaCupSize === 'medium'">medium</mat-radio-button>
          <mat-radio-button value="3" [checked]="teaCupSize === 'large'">large</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 col-no-padding detail-line">
        <mat-form-field>
          <mat-select placeholder="No. of cups" [(value)]="selected">
            <mat-option *ngFor="let x of cupSelections; index as num" [value]="num + 1">{{ num + 1 }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-no-padding button-container">
        <button mat-raised-button color="" class="save-btn">Place order</button>
      </div>
    </div>
  </div>
</div>