.addyoutea-container {background-color: white;
    color: #3b160f;
    opacity: 0.75;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0 50px;
}

.addyoutea-container p{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: inherit;
    color: #3b160f;
    font-weight:bold;
}

.addyoutea-container .mat-checkbox-label {
     font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: inherit;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}
.save-btn {
           background-color: green;
            color: white;
            border-radius: 17.5px;
}
.clear-btn {
    border-radius: 17.5px;
    color:green;
}
.makeyourtea-form {
        width: 80%;
    margin: 0 10%;
    text-align:left;
}
.demo-full-width {
    width:100%;
}
