#close:hover{
    cursor: pointer;
}
.login-signup-modal {
    padding: 15px;
}
.heading{
    font-size: 24px;
}
@media only screen and (max-width: 767px) {
    .heading{
        font-size: 16px;
    }
}
.save-btn {
    background-color: green;
    color: white;
    border-radius: 17.5px;
    width: 60%;
  }