.ingredients.mat-checkbox-checked .mat-checkbox-background, .milk-water.mat-checkbox-checked .mat-checkbox-background  {
    background-color: green;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:green;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: green;
}