/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
/*/@import './styles/bootstrap-4.0.0-dist/css/bootstrap.min.css';  */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/override.material.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
    background:white;
    font-family: 'Raleway', 'Arial';
    color:#fff;
    margin:0;
    text-align: center;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}/* You can add global styles to this file, and also import other style files */
.row-no-padding{
    margin:0;
}
.col-no-padding{
    padding:0;
}

.modal-header .check-img{
      width: 50px;
    height: 50px;
    margin:0 auto;
    
}
.modal-header {
    border-bottom:none;
    background-color: RGB(44,190,90);
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-body {
        margin-top: 20px;
        font-weight: bold;
}
.modal-body p {
    font-size: 21px;
}
.mat-dialog-container {
    padding:0px!important;
}

.visible-xs{
    display:none;
}
.visible-sm{
    display:block;
}

@media only screen and (max-width: 767px) {
.visible-xs{
    display:block;
}
.visible-sm{
    display:none;
}
}
