/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
/*/@import './styles/bootstrap-4.0.0-dist/css/bootstrap.min.css';  */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/override.material.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background:white;
    font-family: 'Raleway', 'Arial';
    color:#fff;
    margin:0;
    text-align: center;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}/* You can add global styles to this file, and also import other style files */
.row-no-padding{
    margin:0;
}
.col-no-padding{
    padding:0;
}

